/sub-PT001_ses-1_run-1__afd_max.nii.gz
/sub-PT001_ses-1_run-1__afd_sum.nii.gz
/sub-PT001_ses-1_run-1__afd_total.nii.gz
/sub-PT001_ses-1_run-1__fodf.nii.gz
/sub-PT001_ses-1_run-1__nufo.nii.gz
/sub-PT001_ses-1_run-1__peak_indices.nii.gz
/sub-PT001_ses-1_run-1__peaks.nii.gz
