/sub-PT001_ses-1_run-1__AC.trk
/sub-PT001_ses-1_run-1__AF_L.trk
/sub-PT001_ses-1_run-1__AF_R.trk
/sub-PT001_ses-1_run-1__CC_Fr_1.trk
/sub-PT001_ses-1_run-1__CC_Fr_2.trk
/sub-PT001_ses-1_run-1__CC_Oc.trk
/sub-PT001_ses-1_run-1__CC_Pa.trk
/sub-PT001_ses-1_run-1__CC_Pr_Po.trk
/sub-PT001_ses-1_run-1__CC_Te.trk
/sub-PT001_ses-1_run-1__CG_L_An.trk
/sub-PT001_ses-1_run-1__CG_L_curve.trk
/sub-PT001_ses-1_run-1__CG_L_Po.trk
/sub-PT001_ses-1_run-1__CG_L.trk
/sub-PT001_ses-1_run-1__CG_R_An.trk
/sub-PT001_ses-1_run-1__CG_R_curve.trk
/sub-PT001_ses-1_run-1__CG_R_Po.trk
/sub-PT001_ses-1_run-1__CG_R.trk
/sub-PT001_ses-1_run-1__FAT_L.trk
/sub-PT001_ses-1_run-1__FAT_R.trk
/sub-PT001_ses-1_run-1__FPT_L_Brainstem.trk
/sub-PT001_ses-1_run-1__FPT_L.trk
/sub-PT001_ses-1_run-1__FPT_R_Brainstem.trk
/sub-PT001_ses-1_run-1__FPT_R.trk
/sub-PT001_ses-1_run-1__FX_L.trk
/sub-PT001_ses-1_run-1__FX_R.trk
/sub-PT001_ses-1_run-1__ICP_L.trk
/sub-PT001_ses-1_run-1__ICP_R.trk
/sub-PT001_ses-1_run-1__IFOF_L.trk
/sub-PT001_ses-1_run-1__IFOF_R.trk
/sub-PT001_ses-1_run-1__ILF_L.trk
/sub-PT001_ses-1_run-1__ILF_R.trk
/sub-PT001_ses-1_run-1__MCP.trk
/sub-PT001_ses-1_run-1__MdLF_L.trk
/sub-PT001_ses-1_run-1__MdLF_R.trk
/sub-PT001_ses-1_run-1__OR_ML_L.trk
/sub-PT001_ses-1_run-1__OR_ML_R.trk
/sub-PT001_ses-1_run-1__PC.trk
/sub-PT001_ses-1_run-1__POPT_L_Brainstem.trk
/sub-PT001_ses-1_run-1__POPT_L.trk
/sub-PT001_ses-1_run-1__POPT_R_Brainstem.trk
/sub-PT001_ses-1_run-1__POPT_R.trk
/sub-PT001_ses-1_run-1__PYT_L_Brainstem.trk
/sub-PT001_ses-1_run-1__PYT_L.trk
/sub-PT001_ses-1_run-1__PYT_R_Brainstem.trk
/sub-PT001_ses-1_run-1__PYT_R.trk
/sub-PT001_ses-1_run-1__SCP_L.trk
/sub-PT001_ses-1_run-1__SCP_R.trk
/sub-PT001_ses-1_run-1__SLF_L.trk
/sub-PT001_ses-1_run-1__SLF_R.trk
/sub-PT001_ses-1_run-1__UF_L.trk
/sub-PT001_ses-1_run-1__UF_R.trk
