/sub-PT001_ses-1_run-1__AC_cleaned.trk
/sub-PT001_ses-1_run-1__AF_L_cleaned.trk
/sub-PT001_ses-1_run-1__AF_R_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Fr_1_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Fr_2_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Oc_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Pa_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Pr_Po_cleaned.trk
/sub-PT001_ses-1_run-1__CC_Te_cleaned.trk
/sub-PT001_ses-1_run-1__CG_L_An_cleaned.trk
/sub-PT001_ses-1_run-1__CG_L_cleaned.trk
/sub-PT001_ses-1_run-1__CG_L_curve_cleaned.trk
/sub-PT001_ses-1_run-1__CG_L_Po_cleaned.trk
/sub-PT001_ses-1_run-1__CG_R_An_cleaned.trk
/sub-PT001_ses-1_run-1__CG_R_cleaned.trk
/sub-PT001_ses-1_run-1__CG_R_curve_cleaned.trk
/sub-PT001_ses-1_run-1__CG_R_Po_cleaned.trk
/sub-PT001_ses-1_run-1__FAT_L_cleaned.trk
/sub-PT001_ses-1_run-1__FAT_R_cleaned.trk
/sub-PT001_ses-1_run-1__FPT_L_Brainstem_cleaned.trk
/sub-PT001_ses-1_run-1__FPT_L_cleaned.trk
/sub-PT001_ses-1_run-1__FPT_R_Brainstem_cleaned.trk
/sub-PT001_ses-1_run-1__FPT_R_cleaned.trk
/sub-PT001_ses-1_run-1__FX_L_cleaned.trk
/sub-PT001_ses-1_run-1__FX_R_cleaned.trk
/sub-PT001_ses-1_run-1__ICP_R_cleaned.trk
/sub-PT001_ses-1_run-1__IFOF_L_cleaned.trk
/sub-PT001_ses-1_run-1__IFOF_R_cleaned.trk
/sub-PT001_ses-1_run-1__ILF_L_cleaned.trk
/sub-PT001_ses-1_run-1__ILF_R_cleaned.trk
/sub-PT001_ses-1_run-1__MCP_cleaned.trk
/sub-PT001_ses-1_run-1__MdLF_L_cleaned.trk
/sub-PT001_ses-1_run-1__MdLF_R_cleaned.trk
/sub-PT001_ses-1_run-1__OR_ML_L_cleaned.trk
/sub-PT001_ses-1_run-1__OR_ML_R_cleaned.trk
/sub-PT001_ses-1_run-1__POPT_L_Brainstem_cleaned.trk
/sub-PT001_ses-1_run-1__POPT_L_cleaned.trk
/sub-PT001_ses-1_run-1__POPT_R_cleaned.trk
/sub-PT001_ses-1_run-1__PYT_L_Brainstem_cleaned.trk
/sub-PT001_ses-1_run-1__PYT_L_cleaned.trk
/sub-PT001_ses-1_run-1__PYT_R_cleaned.trk
/sub-PT001_ses-1_run-1__SCP_L_cleaned.trk
/sub-PT001_ses-1_run-1__SCP_R_cleaned.trk
/sub-PT001_ses-1_run-1__SLF_L_cleaned.trk
/sub-PT001_ses-1_run-1__SLF_R_cleaned.trk
/sub-PT001_ses-1_run-1__UF_L_cleaned.trk
/sub-PT001_ses-1_run-1__UF_R_cleaned.trk
