/sub-PT001_ses-1_run-1__output0GenericAffine.mat
/sub-PT001_ses-1_run-1__output1InverseWarp.nii.gz
/sub-PT001_ses-1_run-1__output1Warp.nii.gz
/sub-PT001_ses-1_run-1__t1_mask_warped.nii.gz
/sub-PT001_ses-1_run-1__t1_warped.nii.gz
