/AC.trk
/AF_L.trk
/AF_R.trk
/CC_Fr_1.trk
/CC_Fr_2.trk
/CC_Oc.trk
/CC_Pa.trk
/CC_Pr_Po.trk
/CC_Te.trk
/CG_L_An.trk
/CG_L_curve.trk
/CG_L_Po.trk
/CG_L.trk
/CG_R_An.trk
/CG_R_curve.trk
/CG_R_Po.trk
/CG_R.trk
/FAT_L.trk
/FAT_R.trk
/FPT_L_Brainstem.trk
/FPT_L.trk
/FPT_R_Brainstem.trk
/FPT_R.trk
/FX_L.trk
/FX_R.trk
/ICP_R.trk
/IFOF_L.trk
/IFOF_R.trk
/ILF_L.trk
/ILF_R.trk
/logfile.txt
/MCP.trk
/MdLF_L.trk
/MdLF_R.trk
/OR_ML_L.trk
/OR_ML_R.trk
/POPT_L_Brainstem.trk
/POPT_L.trk
/POPT_R.trk
/PYT_L_Brainstem.trk
/PYT_L.trk
/PYT_R.trk
/results.json
/SCP_L.trk
/SCP_R.trk
/SLF_L.trk
/SLF_R.trk
/UF_L.trk
/UF_R.trk
