/sub-PT001_ses-1_run-1__ad.nii.gz
/sub-PT001_ses-1_run-1__evals_e1.nii.gz
/sub-PT001_ses-1_run-1__evals_e2.nii.gz
/sub-PT001_ses-1_run-1__evals_e3.nii.gz
/sub-PT001_ses-1_run-1__evals.nii.gz
/sub-PT001_ses-1_run-1__evecs.nii.gz
/sub-PT001_ses-1_run-1__evecs_v1.nii.gz
/sub-PT001_ses-1_run-1__evecs_v2.nii.gz
/sub-PT001_ses-1_run-1__evecs_v3.nii.gz
/sub-PT001_ses-1_run-1__fa.nii.gz
/sub-PT001_ses-1_run-1__ga.nii.gz
/sub-PT001_ses-1_run-1__md.nii.gz
/sub-PT001_ses-1_run-1__mode.nii.gz
/sub-PT001_ses-1_run-1__nonphysical.nii.gz
/sub-PT001_ses-1_run-1__norm.nii.gz
/sub-PT001_ses-1_run-1__pulsation_std_dwi.nii.gz
/sub-PT001_ses-1_run-1__rd.nii.gz
/sub-PT001_ses-1_run-1__residual_iqr_residuals.npy
/sub-PT001_ses-1_run-1__residual_mean_residuals.npy
/sub-PT001_ses-1_run-1__residual.nii.gz
/sub-PT001_ses-1_run-1__residual_q1_residuals.npy
/sub-PT001_ses-1_run-1__residual_q3_residuals.npy
/sub-PT001_ses-1_run-1__residual_residuals_stats.png
/sub-PT001_ses-1_run-1__residual_std_residuals.npy
/sub-PT001_ses-1_run-1__rgb.nii.gz
/sub-PT001_ses-1_run-1__tensor.nii.gz
