/sub-PT001_ses-1_run-1__map_csf.nii.gz
/sub-PT001_ses-1_run-1__map_gm.nii.gz
/sub-PT001_ses-1_run-1__map_wm.nii.gz
/sub-PT001_ses-1_run-1__mask_csf.nii.gz
/sub-PT001_ses-1_run-1__mask_gm.nii.gz
/sub-PT001_ses-1_run-1__mask_wm.nii.gz
